.color-display {
  border-radius: 10px;
  margin-top: 20px;
}

.color-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.full-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}

.custom-color-picker{
  height: 20px;
  width: 30px;
}